
labelledDoWhile/.settings/org.eclipse.core.resources.prefs
GradeCheck/.settings/org.eclipse.core.resources.prefs
CharacterIdentifier/.settings/org.eclipse.jdt.core.prefs
CharacterIdentifier/.settings/org.eclipse.core.resources.prefs
GradeCheck/.settings/org.eclipse.jdt.core.prefs
labelledDoWhile/.settings/org.eclipse.jdt.core.prefs
